*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4f46e5;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.triangulo {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 30%;
    top: 0;
    z-index: -1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

#form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 95%;
    height: 500px;
    margin-top: 10px; 
    margin: 20px auto;
    position: relative;
}

.form__datos{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
    margin-top: 10px;
}

hr{
    margin-bottom: 20px;
    width: 10%;
    color: #5050f0;
    border: 2px solid;
}
.nombre{
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 1px black;
}

.mensaje{
    margin-top: 20px;
    width: 60%;
    column-gap: 10;
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
    padding: 10px;
}

.boton{
    margin-top: 40px;
    width: 25%;
    padding: 10px;
    background-color: #5050f0;
    color: white;
    border: none;
    box-shadow: 0px 0px 2px black;
    font-size: 0.7em;
}

.boton:hover{
    cursor: pointer;
}

img{
    width: 120%; 
    max-width: 450px; 
    height: auto;
    margin-top: 50px;
    margin-right: 150px;
    justify-self: center;

}

h1{
    font-weight: bolder;
}